.grid {
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: black;
}

.row {
	overflow: auto;
}

.box {
	padding: 0;
	box-sizing: border-box;
	background-color: white;
	height: 100px;
	float: left;
}